<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDInterface.Properties.Settings.Sport_StatConnectionString"
            connectionString="Host=localhost;Database=&quot;Sport Stat&quot;;Persist Security Info=True;Username=postgres;Password=7420"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>